body {
  padding: 20px;
}

#list {
  overflow: auto;
  border: solid 1px #ddd;
  width: 400px;
  height: 400px;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#list li {
  padding: 0;
  border: solid 1px #ddd;
  width: 100%;
}

#list li:hover {
  cursor: pointer;
}

#list li a {
  padding: 20px;
  display: block;
}

#edit-content {
  max-width: 500px;
}

#div-list {
  padding: 20px;
  display: inline-block;
}

#div-add {
  padding: 20px;
  max-width: 500px;
}

#div-edit {
  padding: 20px;
  padding-top: 50px;
  display: inline-block;
  vertical-align: top;
}

.div-name {
  display: inline-block;
  width: calc((100% / 3) * 2);
  word-break: break-all;
  padding-right: 5px;
}

.div-date {
  display: inline-block;
  width: calc(100% / 3);
  vertical-align: top;
}

#div-edit.hide {
  display: none;
}

#list li a.selected {
  font-weight: bolder;
  background-color: #dbedfe;
}

#list li:hover {
  background-color: #eceff1;
}

a,
a:visited,
a:link,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 450px) {
  #div-add,
  #div-list,
  #div-edit,
  #list {
    width: 100%;
  }
}
